<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	
	<body>
		<div id="infoApp">
				<!--`cid``xid``pid2``kid``cnumber``cbrand``cmodel``cdriver``cphone``cbirthday`-->
			<el-form :model="person" ref="personForm" :rules="personRules" label-width="100px">
				<el-form-item label="车辆牌号" prop="cnumber">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model.number="person.cnumber"></el-input>
					</el-col>
				</el-form-item>
				
				
						<el-form-item label="车辆型号" prop="cbrand">
							<el-select v-model="person.cxname" placeholder="请选择" :disabled="true">
								<el-option v-for="item in options2" :value="item.xid " :key="item.xid" :label="item.cxname">
								</el-option>
							</el-select>
						</el-form-item>
					
					
						<el-form-item label="车辆品牌" prop="cbrand">
							<el-select v-model="person.pinname" placeholder="请选择" @change="jiage" :disabled="true">
								<el-option v-for="item in options" :value="item.pid2 " :key="item.pid2" :label="item.pinname">
								</el-option>
							</el-select>
						</el-form-item>

				
				<el-form-item label="驾驶人" prop="cdriver">
					<el-col :span="6">
						<el-input v-model="person.cdriver" ></el-input>
					</el-col>
				</el-form-item>
				
				 <el-form-item>
					
					<el-button type="primary" @click="updatePerson">修改</el-button>
					<el-button type="danger" @click="goBack">取消</el-button>
				</el-form-item>
			
			</el-form>
		</div>
	</body>

	<script>
		var infoApp = new Vue({
			el: "#infoApp",
			data: {
				options:"",
				options2:"",
				ggname:"vip用户",
				radio : "0",
				person: {
					kid: "",
					xid:"",
					pid2:"",
					cnumber: "",
					cbrand:"",
					cdriver: "",
					cphone: "",
					pinname:"",
					cxname:""
				},
				sexs: ['男','女'],
				personRules: {
					pid: [{
							required: true,
							message: '会员编号不能为空',
							trigger: 'blur'//移除触发
						},
						{
							type: 'number',
							message: '会员编号为数字值',
							trigger: 'blur'
						}
					],
					pname: [{
							required: true,
							message: '请输入会员名称',
							trigger: 'blur'
						},
						{
							min: 2,
							max: 5,
							message: '长度在 2 到 5 个字符',
							trigger: 'blur'
						}
					],
					pdate: [{
						required: true,
						message: '请选择生日',
						trigger: 'change'
					}]

				}
			},
			methods: {
				jiage(){
					alert(this.person.xid)
					
					pids=this.person.pid2;
					let _this = this;
					$.getJSON(`http://localhost:8080/api/cxb/querAllBypid2/${pids}`, function(pg) {
										    	
						_this.options2 = pg;
						
						
					});		
					
				},
				pingpai(){
					let _this = this;
					$.getJSON(`http://localhost:8080/api/clppd/querAll`, function(pg) {
										    	
						_this.options = pg;
						
						
					});		
				},
				goBack() {
					personApp.isShow6=false;//非常重要
					
					kid=window.sessionStorage.getItem("kid");
					personApp.khclxxchaxun(1,3,kid)//调用主页的vm引擎方法
					//indexApp.showViewwc('kehuxinxizhuye.html');//调用主页的vm引擎方法,跳页面
				},
				updatePerson() {
					let _this = this;
					this.$refs['personForm'].validate(valid => {
						if(valid) {
							//验证通过
							//自定义加载块
							const loading = this.$loading({
								lock: true,
								text: '努力更新中....',
								spinner: 'el-icon-loading',
								background: 'rgba(0, 0, 0, 0.5)'
							});
							//延迟2秒，模拟网络延迟
							setTimeout(() => {
								//传送对象
								$.ajax('http://localhost:8080/api/khclb/person', {
									type: 'put',
									data: JSON.stringify(this.person),
									dataType: 'json',
									contentType: 'application/json',
									success(msg) {
										if(msg.code == "200") {
											loading.close(); //关闭加载块【非常重要】
											_this.$message({
												type: 'success',
												message: '更新成功'
											});
											_this.goBack();
										}
									}
								});
							}, 2000);
						} else {
							//验证失败
							this.$alert('请按格式正确填写信息', '系统提示');
						}
					});
				},
				
				loadPeson(cid) {
					
					//自定义加载块
					const loading = this.$loading({
						lock: true,
						text: '努力更新中....',
						spinner: 'el-icon-loading',
						background: 'rgba(0, 0, 0, 0.5)'
					});
					let _this = this;
					setTimeout(() => {
						$.getJSON(`http://localhost:8080/api/khclb/person/${cid}`, function(person) {
							loading.close();
							_this.person = person;
							
						});
					}, 500);
				}
			},
			mounted() {
				this.pingpai();
				let cid = sessionStorage.getItem('cid');
				if(cid) {
					this.loadPeson(cid);
				}

			}
		});
	</script>