<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>

		<div id="kehuxx1">

			<div style="margin-top: 20px; ">
				<!--<label style="color: red;">业务类型：</label>-->
				<!--<el-dropdown @command="handleCommand">

					<span class="el-dropdown-link">
   					  <el-input v-model="leix" :disabled="true"><i class="el-icon-arrow-down el-icon--right"></i>
 				 </span>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item command="1">站内维修</el-dropdown-item>
						<el-dropdown-item command="2">站外维修</el-dropdown-item>

					</el-dropdown-menu>
				</el-dropdown>-->
				<el-button type="primary" size="mini" :span="12"  @click="urlyinr" >接车</el-button>
				<label style="margin-left: 800px;">站内维修</label>&nbsp;&nbsp;&nbsp;<el-tooltip :content="'Switch valueg: ' + valueg" placement="top" >
					<el-switch v-model="valueg" 
						active-color="#13ce66" 
						inactive-color="#13ce66" 
						active-value="100" 
						inactive-value="0"
						@change = "ale">
					</el-switch>
				</el-tooltip>&nbsp;&nbsp;&nbsp;<label>站外维修</label>
				
					
					
				

			</div>
			<hr />
			<div style="margin-left: 370px;">
				<template>
					<label style="color: red;">车牌号码  :</label>
					<!--reserve-keyword-->
					<el-select @change="kehuxingxichaxun" v-model="value" multiple filterable remote placeholder="请输入关键词" :remote-method="remoteMethod" :loading="loading">
						<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
						</el-option>
					</el-select>
				</template>
			</div>
			<br />
			<br />

			<div style="display: inline-block;" v-if="this.value[0]!=null">、 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<label>姓名：</label>
				<div style="width: 100px; display: inline-block;">

					<el-input v-model="kehuxx.kname" :disabled="true">

				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>电话号码：</label>
				<div style="width: 100px; display: inline-block;">

					<el-input v-model="kehuxx.kphone" :disabled="true">

				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>地址：</label>
				<div style="width: 100px; display: inline-block;">

					<el-input v-model="kehuxx.kaddres" :disabled="true">

				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>生日：</label>
				<div style="width: 200px; display: inline-block;">

					<el-input v-model="kehuxx.kbirthday" :disabled="true">

				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>描述：</label>
				<div style="width: 200px; display: inline-block;">

					<el-input v-model="kehuxx.kremark" :disabled="true">

				</div>
				<br/>
				<br/>
				<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<label>车辆id：</label>
				<div style="width: 200px; display: inline-block;">

					<el-input v-model="kehuxx.cid" :disabled="true">

				</div>

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>车辆型号：</label>
				<div style="width: 200px; display: inline-block;">

					<el-input v-model="kehuxx.cmodel" :disabled="true">

				</div>

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>车牌号码：</label>
				<div style="width: 200px; display: inline-block;">

					<el-input v-model="kehuxx.cnumber" :disabled="true">

				</div>
			</div>

			<div id="cnt">

			</div>

		</div>

	</body>

	<script>
		var jiehce = new Vue({
			el: "#kehuxx1",
			data: {
				valueg: 100,
				
				leix: "请选择业务",
				zhi: "1",
				options: [],
				value: "",
				list: [],
				loading: false,
				//"湘B8888","湘A8888","湘c8888","湘A5322","湘A1233","湘A6653","湘A0864","湘A1234"
				states: [],
				kehuxx: {
					kid: "",
					id: "",
					kname: "",
					kphone:"",
					kaddres: "",
					kbirthday: "",
					kremark: "",
					kb1: "",
					kb2: "",
					kb3: "",
					kb4: "",
					kb5: "",
					kb6: "",
					ksex: "",
					vidname: "",
					zhifupwd: "",
					cid: "",
					cmodel: "",
					cnumber: ""
				},
				jcbsj: {
					id:"",
					kid: "",
					cid: "",
					jname: "",
					jmodel: "",
					jnumber: "",
					jliex: "",
					jb1:""
				},
				wxb1:{
					/*`wid` `wstate``wlicense``wkname``wpheno`*/
					wid:"",
					wstate:"",
					wlicense:"",
					wkname:"",
					wpheno:""
				}

			},
			methods: {
				addPerson2() {
					let _this = this;
					_this.jcbsj.kid = _this.kehuxx.kid;
					_this.jcbsj.cid = _this.kehuxx.cid;
					_this.jcbsj.jname = _this.kehuxx.kname;
					_this.jcbsj.jmodel = _this.kehuxx.cmodel;
					_this.jcbsj.jnumber = _this.kehuxx.cnumber;
					_this.jcbsj.jliex = _this.zhi;
					_this.jcbsj.jb1 = _this.kehuxx.kphone;
					$.ajax('http://localhost:8080/api/jieche/person', {
						type: 'post',
						data: JSON.stringify(this.jcbsj),
						dataType: 'json',
						contentType: 'application/json',
						success(msg) {
							if(msg.code == "200") {
								
								showAlertDialog("接车成功！");
								/*loading.close(); //关闭加载块【非常重要】
								_this.$message({
									type: 'success',
									message: '新增成功'
								});
								_this.clearData(); //清除数据*/
							}
						}
					});

				},
				addPerson() {
					let _this = this;
					_this.wxb1.wid = _this.jcbsj.id;
					_this.wxb1.wstate = "0";
					_this.wxb1.wlicense = _this.kehuxx.cnumber;
					_this.wxb1.wkname = _this.kehuxx.kname;
					_this.wxb1.wpheno = _this.kehuxx.kphone;
					
					$.ajax('http://localhost:8080/api/wxb/person', {
						type: 'post',
						data: JSON.stringify(this.wxb1),
						dataType: 'json',
						contentType: 'application/json',
						success(msg) {
							
						}
					});

				},
				urlyinr() {
					
					if(this.value[0] == null) {
						showAlertDialog("请选择车辆！");
						return;
					}
					if(this.zhi == "1") {
						
						this.addPerson2();
						this.addPerson();
						window.sessionStorage.setItem("id", this.jcbsj.id);
						indexApp.showView("zhanneiweijiu", "站内维修");

					} else if(this.zhi == "2") {

						this.addPerson2();
						this.addPerson();
						window.sessionStorage.setItem("id", this.jcbsj.id);
						indexApp.showView("zhanneiweijiu", "站外维修");

					} else {
						alert("请先选择业务类型！")
					}
				},
				kehuxingxichaxun2() {

					let _this = this;
					
					$.getJSON(`http://localhost:8080/api/khb/person/maxid`, function(pg) {
						//				    	
						_this.jcbsj.id = pg;

					});

				},
				
				kehuxingxichaxun() {

					let _this = this;
					piaohao = this.value[0];
					if(piaohao!=null){
						$.getJSON(`http://localhost:8080/api/khb/person/kehuxingxi/${piaohao}`, function(pg) {
						//				    	
						_this.kehuxx = pg;

					});
					}
					

				},ale(){
					if(this.valueg==100){
						this.zhi="2";
					}else if(this.valueg==0){
						this.zhi="1";
					}
					
				},
				fff2() {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/khclb/person/cp`, function(pg) {

						_this.states = pg;

						_this.list = _this.states.map(item => {
							return {
								//						value: `value:${item}`,
								//						label: `label:${item}`
								value: item,
								label: item
							};
						});
					});

				},

				remoteMethod(query) {
					if(query !== '') {
						this.loading = true;
						setTimeout(() => {
							this.loading = false;
							this.options = this.list.filter(item => {
								return item.label.toLowerCase()
									.indexOf(query.toLowerCase()) > -1;
							});
						}, 200);
					} else {
						this.options = [];
					}
				}
			},
			mounted() {
				this.fff2();
				this.kehuxingxichaxun2();

			}
		});
	</script>