<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="jiesuanmotai" class="container-fluid">
			<template>
				<el-table :data="weixius" style="width: 100%">
					<el-table-column prop="wid" label="维修编号">
					</el-table-column>
					<el-table-column prop="wlicense" label="车牌号">
					</el-table-column>

					<el-table-column prop="wkname" label="车主">
					</el-table-column>

					<el-table-column prop="wpheno" label="车主电话">
					</el-table-column>

					<el-table-column prop="wkaidate" label="开始时间">
					</el-table-column>
					<el-table-column prop="wjiedate" label="结束时间">
					</el-table-column>

					<el-table-column prop="wb1" label="维修班组">
					</el-table-column>

					<el-table-column label="人工费用">
						<template slot-scope="temp">
							{{temp.row.wb2-rengongfeiyong-temp.row.jiechefeiyong}}
						</template>
					</el-table-column>

					<el-table-column prop="jiechefeiyong" label="接车费用">
					</el-table-column>

				</el-table>
			</template>
			<h3>维修项目</h3>
			<template>
				<el-table :data="xiangmu.list" style="width: 100%">
					<el-table-column prop="rvname" label="维修项目">
					</el-table-column>
					<el-table-column prop="rvmoney" label="价格">
					</el-table-column>
				</el-table>
			</template>

			<div class="row" v-if="weixiu.wstate != 100">
				<template>
					<el-radio v-model="zhifufunction" label="余额支付">余额支付</el-radio>
					<el-radio v-model="zhifufunction" label="现金支付">现金支付</el-radio>
					<el-radio v-model="zhifufunction" label="支付宝支付">支付宝支付</el-radio>
				</template>
			</div>
			<div class="row" v-if="weixiu.wstate != 100">
				<span v-if="zhifufunction == '余额支付'"	>
				请输入密码：<input type="password" v-model="kehumima" />
					
				</span>
			</div>
			<br />
			<div class="row">
				<div class="col-md-10">
					<h4 style="display: inline-block;">总消费：</h4><span style="font-size: 18px; color: red;" >¥{{weixiu.wb2}}</span> </div>

				<div class="col-md-2" v-if="weixiu.wstate != 100">
					<el-button type="primary" @click="zhifu()">结算</el-button>
				</div>
			</div>
		</div>

	</body>

	<script>
		var jiesuanmotai = new Vue({
			el: "#jiesuanmotai",
			data: {
				weixius: [],
				weixiu: "",
				xiangmu: "",
				cailiao: "",
				zhifufunction: "",
				rengongfeiyong:null,
				kehu:"",
				kehumima:""
			},
			methods: {
				zhifu(){
					if(this.zhifufunction=="余额支付"){
						if(this.kehumima==this.kehu.zhifupwd){
							if(this.kehu.kb5<this.weixius[0].wb2){
								alert("余额不足！")
								return;
							}else{
								this.kehu.kb5 = this.kehu.kb5-this.weixius[0].wb2;
								alert("结算成功！");
								$.getJSON("http://localhost:8080/api/wxb/updatewstate/100/"+this.weixius[0].wid,function(s){
									
								})
							}
						}else{
							alert("密码错误！");
							return;
						}
					}
				},
				getKehu(kid){
					let _this = this;
					$.getJSON("http://localhost:8080/api/khb/person/5", function(kh) {
						_this.kehu = kh;
					})
				}
			},
			mounted() {
				let weixius = [];
				weixius.push(jiesuanzhongxin.weixiu);
				this.weixius = weixius;
				this.weixiu = jiesuanzhongxin.weixiu;
				this.xiangmu = jiesuanzhongxin.xiangmu;
				this.xiangmu.list.forEach(x=>{
					this.rengongfeiyong += x.rvmoney;
				});
				this.getKehu(5);

			}
		});
	</script>

</html>