<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>另外一个页面</title>
	</head>

	<body>
		<div id="infoApp">
			<el-form :model="person" ref="personForm" :rules="personRules" label-width="100px">
				<el-form-item label="客户名称" prop="kname">
					<el-col :span="6">
						<!--非常重要-->
						<el-input v-model.number="person.kname"></el-input>
					</el-col>
				</el-form-item>
				
				<el-form-item label="地址" prop="kaddres">
					<el-col :span="6">
						<el-input v-model="person.kaddres" ></el-input>
					</el-col>
				</el-form-item>
				
				<el-form-item label="电话号码" prop="kphone">
					<el-col :span="6">
						<el-input v-model="person.kphone" ></el-input>
					</el-col>
				</el-form-item>
				
				<el-form-item label="充值金额" prop="kb5">
					<el-col :span="6">
						<el-input v-model="person.kb5" ></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="用户类型" prop="vid">
					
					<el-col :span="6">
						<!--非常重要-->
						<el-input  v-model="ggname"></el-input>
					</el-col>
					
					<!--<el-dropdown @command="handleCommand">
					<span class="el-dropdown-link">
    					选择用户类型<i class="el-icon-arrow-down el-icon--right"></i>
 					</span>
					<el-dropdown-menu slot="dropdown">
						
						<el-dropdown-item command="2">vip用户</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>-->
				</el-form-item>
				<el-form-item label="身份证号码" prop="kremark">
					<el-col :span="6">
						<el-input v-model="person.kremark" ></el-input>
					</el-col>
				</el-form-item>
				
				<el-form-item label="性别">
					<el-col :span="6">
						<el-radio-group v-model="person.ksex">
							<el-radio :label="0">男</el-radio>
   							<el-radio :label="1">女</el-radio>
						</el-radio-group>
					</el-col>
				</el-form-item>

				<el-form-item label="注册日期" prop="kbirthday">
					<el-col :span="6">
						<el-date-picker v-model="person.kbirthday" type="date" placeholder="选择日期时间">
						</el-date-picker>
					</el-col>
				</el-form-item>

				</el-dropdown-menu>
				</el-dropdown>
				
				<el-form-item>
					<el-button type="primary" @click="updatePerson">保存</el-button>
					<el-button type="danger" @click="goBack">取消</el-button>
				</el-form-item>
			</el-form>
		</div>
	</body>

	<script>
		var infoApp = new Vue({
			el: "#infoApp",
			data: {
				ggname:"vip用户",
				radio : "0",
				person: {
					kid: "",
					vid: "",
					id: "",
					kname:"",
					kphone: "",
					kaddres: "",
					kbirthday: "",
					kremark: "",
					kb1: "",
					kb2: "",
					kb3: "",
					kb4: "",
					kb5: "",
					kb6: "",
					ksex:"",
					vidname:"vip用户"
				},
				sexs: ['男','女'],
				personRules: {
					pid: [{
							required: true,
							message: '会员编号不能为空',
							trigger: 'blur'//移除触发
						},
						{
							type: 'number',
							message: '会员编号为数字值',
							trigger: 'blur'
						}
					],
					pname: [{
							required: true,
							message: '请输入会员名称',
							trigger: 'blur'
						},
						{
							min: 2,
							max: 5,
							message: '长度在 2 到 5 个字符',
							trigger: 'blur'
						}
					],
					pdate: [{
						required: true,
						message: '请选择生日',
						trigger: 'change'
					}]

				}
			},
			methods: {
				goBack() {
					personApp.isShow=false;//非常重要
					indexApp.showView('person.html');//调用主页的vm引擎方法,跳页面
				},
				updatePerson() {
					let _this = this;
					this.$refs['personForm'].validate(valid => {
						if(valid) {
							//验证通过
							//自定义加载块
							const loading = this.$loading({
								lock: true,
								text: '努力更新中....',
								spinner: 'el-icon-loading',
								background: 'rgba(0, 0, 0, 0.5)'
							});
							//延迟2秒，模拟网络延迟
							setTimeout(() => {
								//传送对象
								$.ajax('http://localhost:8080/api/khb/person', {
									type: 'put',
									data: JSON.stringify(this.person),
									dataType: 'json',
									contentType: 'application/json',
									success(msg) {
										if(msg.code == "200") {
											loading.close(); //关闭加载块【非常重要】
											_this.$message({
												type: 'success',
												message: '更新成功'
											});
											_this.goBack();
										}
									}
								});
							}, 2000);
						} else {
							//验证失败
							this.$alert('请按格式正确填写信息', '系统提示');
						}
					});
				},
				
				loadPeson(pid) {
					
					//自定义加载块
					const loading = this.$loading({
						lock: true,
						text: '努力更新中....',
						spinner: 'el-icon-loading',
						background: 'rgba(0, 0, 0, 0.5)'
					});
					let _this = this;
					setTimeout(() => {
						$.getJSON(`http://localhost:8080/api/khb/person/${pid}`, function(person) {
							loading.close();
							_this.person = person;
							
						});
					}, 500);
				}
			},
			mounted() {
				let pid = sessionStorage.getItem('pid');
				if(pid) {
					this.loadPeson(pid);
				}

			}
		});
	</script>

</html>