<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="updatezhiweiquanxianbyid">

			<div v-for="rs in roots">
				<!--<span v-if="rs.id == r.id">-->
				<input type="checkbox" @click="addCid(rs.id)" v-model="a" :value="rs.id" />{{rs.text}}{{rs.id}}<br />
				<span v-for="s in rs.children">
							<input type="checkbox"  v-model="a"   :value="s.id"/>{{s.text}}{{s.id}}
						</span>
				<!--</span>-->
				<!--<span v-if="rs.id != r.id">
						<input type="checkbox"  @click="addCid(rs.id)"    :value="rs.id"/>{{rs.text}}{{rs.id}}<br />
						<span v-for="s in rs.children">
							<input type="checkbox"  v-model="a"  :value="s.id"/>{{s.text}}{{s.id}}
						</span>
					</span>-->

				<!--<h1><input @click="add(rs.id)" type="checkbox"  class="fcheckbox" :value="rs.id" />{{rs.text}}</h1>
						<span v-for="s in rs.children">
							<input type="checkbox"  v-model="a" :value="s.id" />{{s.text}}
						</span>-->

			</div>
			<el-button type="primary" @click="update">保存</el-button>
		</div>
	</body>

	<script>
		var updatezhiweiquanxianbyid = new Vue({
			el: "#updatezhiweiquanxianbyid",
			data: {
				list: [],
				roots: [],
				a: [],
				ppid: null
			},
			methods: {
				add(rid) {
					this.a.push(rid);
				},
				addCid(fid) {
					let rid = [];
					if(this.a.indexOf(fid) < 0) {
						this.a.push(fid);
						this.roots.forEach(rrr => {
							if(fid == rrr.id) {
								rrr.children.forEach(rs => {
									this.a.push(rs.id);
								});
							}
						});
					} else {
						for(var i = 0; i <= this.a.length; i++) {
							if(this.a[i] == fid) {
								this.a.splice(i, 1);
							}
						}
						this.roots.forEach(root => {
							if(root.id == fid) {
								root.children.forEach(rcs => {
									for(var i = 0; i <= this.a.length; i++) {
										if(this.a[i] == rcs.id) {
											this.a.splice(i, 1);
										}
									}
								})
							}
						})

					}
				},
				update() {
					let _this = this;
					$.ajax("http://localhost:8080/api/tl/proot/updateByPpid/" + _this.ppid, {
						type: "post",
						data: JSON.stringify(_this.a),
						dataType: 'json',
						contentType: 'application/json',
						success(a) {
							alert(a);
						}
					});
				},
				getList() {
					let _this = this;
					$.getJSON("http://localhost:8080/api/tl/position/getById/" + _this.ppid, function(p) {
						_this.list = p.roots;
						_this.list.forEach(temp => {
							_this.a.push(temp.id);
							temp.children.forEach(s => {
								_this.a.push(s.id);
							})
						})
					})
				}
			},
			mounted() {
				this.roots = zhiweiquanxian.roots;
				this.ppid = zhiweiquanxian.ppid;
				this.getList();

			}

		});

		//		alert($("input").size());
		$(function() {
			$(".fcheckbox").change(function() {
				alert("sss");
				$(this).next().find("input[type=checkbox]").prop("checked", this.checked);
			});
		})
	</script>

</html>