<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="updatezhiweiquanxianbyid">

			<div v-for="rs in roots">
				<div v-for="r in list">
					<span v-if="rs.id == r.id">
						<input @click="add" type="checkbox" @click="add(rs.id)"  :value="r.id" checked="checked"/>{{rs.text}}<br />
						<span v-for="s in rs.children">
							<input type="checkbox"  v-model="a"  checked :value="s.id"/>{{s.text}}
						</span>
					</span>
					<span v-if="rs.id != r.id">
						<input type="checkbox"  @click="add(rs.id)"    :value="rs.id"/>{{rs.text}}<br />
						<span v-for="s in rs.children">
							<input type="checkbox"  v-model="a"  :value="s.id"/>{{s.text}}
						</span>
					</span>
				</div>

				<!--<h1><input @click="add(rs.id)" type="checkbox"  class="fcheckbox" :value="rs.id" />{{rs.text}}</h1>
						<span v-for="s in rs.children">
							<input type="checkbox"  v-model="a" :value="s.id" />{{s.text}}
						</span>-->

			</div>
			{{a}}

		</div>
	</body>

	<script>
		var updatezhiweiquanxianbyid = new Vue({
			el: "#updatezhiweiquanxianbyid",
			data: {
				list: "",
				roots: [],
				a: [],
			},
			methods: {
				add(rid) {
					this.a.push(rid);
				},
				addCid(fid) {
					let rid = [];
					if(this.a.indexOf(fid) < 0) {
						this.a.push(fid);
						
						this.roots.forEach(rrr => {
							if(fid == rrr.id) {
								rrr.children.forEach(rs => {
										this.a.push(rs.id);
								});
							}
						});
					}
				}
			},
			mounted() {
				this.list = zhiweiquanxian.updatezhiweiquanxianlist;
				this.roots = zhiweiquanxian.roots;
				this.list.forEach(temp => {
					this.addCid(temp.id);
				})
			}

		});

		//		alert($("input").size());
		$(function() {
			$(".fcheckbox").change(function() {
				alert("sss");
				$(this).next().find("input[type=checkbox]").prop("checked", this.checked);
			});
		})
	</script>

</html>