<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">

		<style>
			.list-inline a {
				color: #000000;
			}
			
			.breadcrumb a {
				color: #000000;
			}
			
			.el-header,
			.el-footer {
				background: gainsboro;
				font-size: 30px;
			}
			
			.el-menu {
				border: 0px;
			}
		</style>
	</head>

	<body>
		<div id="personApp" v-loading="loading">

			<el-row>

				<h2>维修信息</h2>
				<!--`wid`,`gid`,`id`,`wstate`,`wlicense`,`wkname`,`wpheno`,`wleix`,`wkaidate`,`wyudate`,`wwandate`,`wjiedate`,`kprice`-->
				<el-table :default-sort="{prop: 'pdate', order: 'descending'}" :data="this.pageInfo.list" border>

					<el-table-column width="100" label="序号">
						<template slot-scope="temp">
							{{temp.$index+1}}
						</template>
					</el-table-column>
					<!--`kid``vid``id``kname``kphone``kaddres``kbirthday``kremark``kb1``kb2``kb3``kb4``kb5``kb6`-->
					<el-table-column width="100" prop="wid" label="订单号">
					</el-table-column>

					<el-table-column width="100" prop="wlicense" label="车牌号码">
					</el-table-column>

					<el-table-column width="100" prop="wkname" label="客户姓名">
					</el-table-column>

					<el-table-column width="100" prop="wpheno" label="电话号码">
					</el-table-column>

					<el-table-column width="100" prop="wb1" label="技工组">
					</el-table-column>

					<el-table-column prop="wb7" label="公里数" width="100">
					</el-table-column>
					<el-table-column width="50" label="类型">
						<template slot-scope="temp">
							<span v-if="temp.row.jliex==1">
									站内
								</span>
							<span v-if="temp.row.jliex==2">
									站外
								</span>
						</template>

					</el-table-column>
					<el-table-column label="操作">

						<template slot-scope="temp">

							<span v-if="temp.row.wstate==0 && temp.row.jliex==1">
								<el-button  size="mini" type="primary"  @click="showDialog(temp.row.wid,temp.row.jliex)" >开始维修</el-button>
								</span>

							<span v-if="temp.row.wstate==0 && temp.row.jliex==2">
								<el-button  size="mini" type="primary"  @click="showDialog(temp.row.wid,temp.row.jliex)" >请选择地点</el-button>
								</span>

							<span v-if="temp.row.wstate==10 && temp.row.jliex==2">
								<el-button  size="mini" type="primary"  @click="xiugaizt22(temp.row.wid,temp.row.wb5)" >开始维修</el-button>
								</span>
							<span v-if="temp.row.wstate==1">
								
								 <el-button type="success"   size="mini" @click="updatestatuswstate(temp.row.wstate,temp.row.wid,temp.row.wb1)">完成订单</el-button>
								 <el-button type="primary" icon="el-icon-search" size="mini" @click="ff1(1,3,temp.row.wid,temp.row.wstate)">查看维修详情</el-button>
								</span>
							<span v-if="temp.row.wstate==2 || temp.row.wstate==9">
								<el-button type="primary" icon="el-icon-search" size="mini" @click="ff1(1,3,temp.row.wid,temp.row.wstate)">查看维修项目</el-button>
							</span>
							<span v-if="temp.row.wstate==3">
								<el-button type="warning"  size="mini" @click="ff1(1,3,temp.row.wid,temp.row.wstate)">返工中</el-button>
								<el-button type="primary" icon="el-icon-search" size="mini" @click="ff1(1,3,temp.row.wid,temp.row.wstate)">查看维修详情</el-button>
								 <el-button type="success"   size="mini" @click="updatestatuswstate(temp.row.wstate,temp.row.wid,temp.row.wb1)">返工完成</el-button>
							</span>
						</template>
					</el-table-column>
				</el-table>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-pagination v-if="pageInfo.total!=0" :background="true" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.pageNum" :page-size="pageInfo.pageSize" :total="pageInfo.total" :page-sizes="[3,6]" layout="total, sizes, prev, pager, next, jumper">
					</el-pagination>
				</el-col>
			</el-row>
			<!--`cid``xid``pid2``kid``cnumber``cbrand``cmodel``cdriver``cphone``cbirthday`-->
			<br />
			<br />
			<br />

			<!--客户车辆信息  v-if="this.pageInfo2.total!=null"-->
			<div v-if="this.pageInfo2.total!=null">
				<hr />
				<h2>维修项目信息</h2>
				<!--`wid`,`gid`,`id`,`wstate`,`wlicense`,`wkname`,`wpheno`,`wleix`,
				`wkaidate`,`wyudate`,`wwandate`,`wjiedate`,`kprice``rvname``rvmoney`-->
				<el-table :data="this.pageInfo2.list" style="width: 100%">
					<div>
						<el-table-column width="100">

							<template slot-scope="temp">

							</template>
						</el-table-column>
					</div>

					<div>
						<el-table-column width="100" label="序号">

							<template slot-scope="temp">
								{{temp.$index+1}}
							</template>
						</el-table-column>
					</div>
					<div>
						<el-table-column prop="wid" label="订单号" width="100">
						</el-table-column>
					</div>
					<div>
						<el-table-column prop="wlicense" label="牌号" width="100">

						</el-table-column>
					</div>
					<div>
						<el-table-column prop="wb1" label="维修组" width="100">

						</el-table-column>
					</div>
					<div>
						<el-table-column prop="rvname" label="项目类型" width="100">
						</el-table-column>
					</div>
					<div>
						<el-table-column prop="rvmoney" label="项目价格" width="100">
						</el-table-column>

					</div>

					<div v-if="this.zt==1 || this.zt==3">
						<el-table-column width="150">

							<template slot-scope="temp" slot="header">
								<el-col>
									<el-button type="primary" size="mini" @click="jycl2">添加项目</el-button>
								</el-col>

							</template>
						</el-table-column>
					</div>

					<div v-if="this.zt==1 || this.zt==3">
						<el-table-column width="150">
							<template slot="header" slot-scope="temp">
								<el-col>
									<el-button type="primary" size="mini" @click="jycl3">添加材料</el-button>
								</el-col>

							</template>
						</el-table-column>
					</div>
					<div>
						<el-table-column label="操作" width="150">

							<template slot="header" slot-scope="temp">

								<el-col>
									<el-button type="primary" size="mini" @click="showDialog6">查看材料</el-button>
								</el-col>

							</template>

						</el-table-column>
					</div>

				</el-table>

				<el-row>
					<el-col :span="24">
						<el-pagination :background="true" @size-change="handleSizeChange2" @current-change="handleCurrentChange2" :current-page="pageInfo2.pageNum" :page-size="pageInfo2.pageSize" :total="pageInfo2.total" :page-sizes="[3,6]" layout="total, sizes, prev, pager, next, jumper">
						</el-pagination>
					</el-col>
				</el-row>

			</div>
			<!--模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen7" title="修改客户车辆信息" :visible.sync="isShow7" :before-close="handleClose" center>
				<div id="modalcnt6"></div>
			</el-dialog>
			<!--模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen" title="站外开单" :visible.sync="isShow" :before-close="handleClose" center>
				<div id="modalcnt"></div>
			</el-dialog>

			<!--模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen2" title="新增项目" :visible.sync="isShow2" :before-close="handleClose" center>
				<div id="modalcnt2"></div>
			</el-dialog>

			<!--模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen5" title="站外开单" :visible.sync="isShow5" :before-close="handleClose" width='75%' center>
				<div id="modalcnt5"></div>
			</el-dialog>

			<!--模态框-->
			<el-dialog :destroy-on-close="true" @opened="handlOpen6" title="修改客户车辆信息" :visible.sync="isShow6" :before-close="handleClose" center>
				<div id="modalcnt6"></div>
			</el-dialog>
			<el-dialog width="40%" title="项目类型" :visible.sync="innerVisible2" append-to-body>

				<el-table :default-sort="{prop: 'pdate', order: 'descending'}" :data="this.pageInfo3" border ref="multipleTable" @selection-change="handleSelectionChange">
					<el-table-column width="150" prop="wid" label="维修订单号" hidden="hidden" v-if="fales">
					</el-table-column>
					<el-table-column width="100" label="序号">
						<template slot-scope="temp">
							{{temp.$index+1}}
						</template>
					</el-table-column>
					<!--`kid``vid``id``kname``kphone``kaddres``kbirthday``kremark``kb1``kb2``kb3``kb4``kb5``kb6`-->
					<el-table-column width="150" prop="rvname" label="维修项目名称">
					</el-table-column>

					<el-table-column width="100" prop="rvmoney" label="价格">
					</el-table-column>
					<el-table-column type="selection" width="55">
					</el-table-column>

				</el-table>
				<el-col :span="6" :offset='8'>
					<el-button type="primary" size="mini" @click="ffgg">保存</el-button>
				</el-col>
			</el-dialog>

			<el-dialog width="85%" title="添加材料" :visible.sync="innerVisible3" append-to-body>
				<el-table :data="goods" style="width: 100%">
					<el-table-column type="expand">
						<template slot-scope="obj">
							<el-table :data="obj.row.list" style="width: 100%">
								<el-table-column label="选择">
									<template slot-scope="temp">
										<input id="temp.row.mdid" class="borderExampleCheckbox" type="checkbox" @click="change(temp.row)" />
									</template>
								</el-table-column>
								<el-table-column label="编号" prop="mdid"></el-table-column>
								<el-table-column label="材料名称" prop="mdname"></el-table-column>

								<el-table-column label="单价" prop="mdmoney"></el-table-column>
								<el-table-column label="库存" prop="mdmoney2"></el-table-column>
								<el-table-column label="数量">
									<template slot-scope="temp">
										<!--
											:max="temp.row.mdmoney2"
										-->
										<el-input-number v-model="temp.row.num" :min="1" label="选购数量"></el-input-number>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</el-table-column>
					<el-table-column label="类型" prop="mdbrand"></el-table-column>
				</el-table>
				<el-button @click="chooseGoods" type="primary">选择</el-button>
				</el-table>
			</el-dialog>
		</div>
	</body>

	<script>
		var personApp = new Vue({
			el: '#personApp',
			data: {
				num: "1",
				tableData: [],
				xms: "",
				zhu: [],
				multipleSelection: [],
				isIndeterminate: true,
				checked: false,
				waiqingjiag: "",
				price: "",
				oname: "",
				innerVisible: false,
				innerVisible2: false,
				jiage: "",
				zt: "",
				wzt: "",
				wxid: "",
				pageInfo: {},
				loading: true,
				isShow: false,
				isShow2: false,
				isShow5: false,
				isShow6: false,
				isShow7: false,
				pageInfo2: {},
				pageInfo3: "",
				innerVisible3: false,
				goods: "",
				checkGoods: [],
				numz: {},
				nums: []

			},
			methods: {
				change(obj) {

					var boo = true;
					if($(`#obj.mdid`).attr("checked")) {
						for(var i = 0; i < this.checkGoods.length; i++) {
							if(this.checkGoods[i].mdid == obj.mdid) {
								boo = false;
								return false;
							}
						}
					} else {

						for(var i = 0; i < this.checkGoods.length; i++) {
							if(this.checkGoods[i].mdid == obj.mdid) {
								this.checkGoods.$remove(this.checkGoods[i]);
								return false;
							}
						}
					}
					if(boo) {

						wid = window.sessionStorage.getItem("wid");
						obj.wid = wid;
						obj.mdtype = 2;
						this.checkGoods.push(obj);
						this.nums.push(obj);

					}
				},
				updatemdid2() {

					let _this = this;
					for(var i = 0; i < this.nums.length; i++) {

						$.getJSON(`http://localhost:8080/api/Mercdis/updatemdid/${_this.nums[i].mdid}/${_this.nums[i].num}`, function(pg) {

						});
					}
				},
				chooseGoods() {
					isok = false;
					try {
						this.checkGoods.forEach(temp => {
							if(temp.num > temp.mdmoney2) {
								alert(temp.mdname + "库存不够！");
								throw new Error("EndIterative");
							} else {
								isok=true;
							}
						})
						
						if(isok){
							wid = window.sessionStorage.getItem("wid");

								let _this = this;

								$.ajax('http://localhost:8080/api/clxqb/person', {
									type: 'post',
									data: JSON.stringify(this.checkGoods),
									dataType: 'json',
									contentType: 'application/json',
									success(msg) {
										_this.innerVisible3 = false;
										_this.updatemdid2();
										showAlertDialog("材料添加成功！");
										_this.goToPage(1, 3);
										_this.ff1(1, 3, wid, _this.zt);
									}
								});
						}
					} catch(e) {
						if(e.message != "EndIterative") throw e;
					};

					//					this.repairbill.goodsList = this.checkGoods;
					//					this.dlgGoods = false;
					//					this.repairbill.goodsamt = 0;
					//					for(var i = 0; i < this.repairbill.goodsList.length; i++) {
					//						this.repairbill.goodsList[i].goodsamt=this.repairbill.goodsList[i].num*this.repairbill.goodsList[i].goodsprice;
					//						this.repairbill.goodsamt += this.repairbill.goodsList[i].goodsamt;
					//					}
				},
				ffgg1() {

					console.log(this.$refs.tree.getCheckedKeys().concat(this.$refs.tree.getHalfCheckedKeys()));
				},
				fff33() {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/clxqb/querAll`, function(pg) {
						_this.goods = pg;

					});
				},
				jycl3() {
					this.fff33();
					this.innerVisible3 = true;
				},
				ffgg() {
					this.xms = "";
					for(var i = 0; i < this.multipleSelection.length; i++) {
						//alert(this.multipleSelection[i].rvname);
						this.xms += this.multipleSelection[i].rvname + ",";

						//this.person.wb5.append(this.multipleSelection[i].rvname);
					}
					this.addPerson();
					this.innerVisible2 = false;
				},
				addPerson() {
					wid = window.sessionStorage.getItem("wid");
					let _this = this;

					$.ajax('http://localhost:8080/api/wxxm/person', {
						type: 'post',
						data: JSON.stringify(this.multipleSelection),
						dataType: 'json',
						contentType: 'application/json',
						success(msg) {
							showAlertDialog('新增成功!');
							_this.goToPage(1, 3);
							_this.ff1(1, 3, wid, _this.zt);

						}
					});

				},
				toggleSelection(rows) {
					if(rows) {
						rows.forEach(row => {
							this.$refs.multipleTable.toggleRowSelection(row);
						});
					} else {
						this.$refs.multipleTable.clearSelection();
					}
				},
				handleSelectionChange(val) {

					this.multipleSelection = val;

					console.log(this.multipleSelection)
				},
				goToPage22() {
					let _this = this;
					this.loading = true;
					//ajax
					$.getJSON(`http://localhost:8080/api/Reqaincie/querAll`, function(pg) {
						_this.pageInfo3 = pg;
						wid = window.sessionStorage.getItem("wid");

						for(var i = 0; i < _this.pageInfo3.length; i++) {

							_this.pageInfo3[i].wid = wid;
							//this.person.wb5.append(this.multipleSelection[i].rvname);
						}
						_this.loading = false;
					});
				},
				jycl2() {
					this.goToPage22();
					this.innerVisible2 = true;
				},
				xiugaizt22(wid, oid) {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/wxb/updatewstate/1/${wid}`, function(pg) {

					});
					$.getJSON(`http://localhost:8080/api/outcar/updatezt2/${oid}`, function(pg) {
						showAlertDialog('开始维修!');
						_this.goToPage(1, 3);
					});
				},
				tiaoz() {
					indexApp.showView("jiechezhuye", "维修接车");
				},

				updatestatuswstate(zt, wid, wb1) {

					if(wb1 == null || wb1 === "") {
						showAlertDialog("请选择技工组！");

					} else {

						if(zt == "0") {
							this.wzt = "1";

						}
						if(zt == "1") {
							this.wzt = "2";
						}
						if(zt == "3") {
							this.wzt = "99";
						}
						
						let _this = this;
						$.getJSON(`http://localhost:8080/api/wxb/updatewstate/${this.wzt}/${wid}`, function(pg) {
							if(pg == "1") {
								showAlertDialog('成功!');
								_this.goToPage(1, 3);
							}

						});
						//						$.ajax('http://localhost:8080/api/wxb/updatewstate/${this.wzt}/${wid}', {
						//							type: 'get',
						//							
						//							dataType: 'json',
						//							contentType: 'application/json',
						//							success(msg) {
						//								showAlertDialog('修改成功！');
						//							}
						//						});
					}

				},
				ff1(p, s, wid, zt) {
					this.goToPage2(1, 3, wid);
					window.sessionStorage.setItem("zt", zt);
					this.zt = window.sessionStorage.getItem("zt");

					window.sessionStorage.setItem("wid", wid);
					this.loading = true;
					let _this = this;
					$.getJSON(`http://localhost:8080/api/wxxm/${p}/${s}/${wid}`, function(pg) {
						_this.pageInfo2 = pg;
						_this.loading = false;
					});
				},
				khclxxchaxun(p, s, kid) {

					window.sessionStorage.setItem("kid", kid);
					let _this = this;
					this.loading = true;
					//ajax
					$.getJSON(`http://localhost:8080/api/khclb/${p}/${s}/${kid}`, function(pg) {
						_this.pageInfo2 = pg;
						_this.loading = false;
					});

				},
				handlOpen7() {
					$("#modalcnt6").load('xingzhengchailiaobiao.html');
				},
				xuezje(name) {
					window.sessionStorage.setItem("name", name);
					done();
				},
				handlOpen6() {
					$("#modalcnt6").load('chakancailiaoxx.html');
				},
				handlOpen5() {
					$("#modalcnt5").load('zhangwaiweixiu.html');
				},
				handlOpen2() {
					$("#modalcnt2").load('xinzengxianmuyemian.html');
				},
				handlOpen() {
					$("#modalcnt").load('weixiuxxxiugai.html');
				},
				handleClose(done) {
					this.$confirm('是否关闭').then(() => {
						done();
					}).catch(() => {});
				},
				showDialog(wid, zt) {

					sessionStorage.setItem('wid', wid);
					if(zt == "1") {
						this.isShow = true;
					} else if(zt == "2") {
						this.isShow5 = true;
					}

				}

				,
				showDialog7() {

					this.isShow7 = true;

				},
				showDialog6(cid) {

					this.isShow6 = true;

				},
				showDialog5() {
					this.isShow5 = true;

				},
				showDialog2() {

					wid = sessionStorage.getItem('wid');

					this.isShow2 = true;
				},
				showInfo(pid) {
					//indexApp.showView('kehuxinxizhuye.html);
					sessionStorage.setItem('pid', pid);
				},
				delInfo2(cid) {
					let _this = this;
					this.$confirm('是否移除会员信息?', '系统提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.ajax(`http://localhost:8080/api/khclb/person/${cid}`, {
							type: 'delete',
							dataType: 'json',
							success(msg) {
								if(msg.code == "200") {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
									_this.loading = true;
									kid = window.sessionStorage.getItem("kid");
									_this.khclxxchaxun(1, _this.pageInfo2.pageSize, kid);
								}
							}
						});

					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				delInfo(pid) {
					let _this = this;
					this.$confirm('是否移除会员信息?', '系统提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.ajax(`http://localhost:8080/api/khb/person/${pid}`, {
							type: 'delete',
							dataType: 'json',
							success(msg) {
								if(msg.code == "200") {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
									_this.loading = true;
									_this.goToPage(1, _this.pageInfo.pageSize);
								}
							}
						});

					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				handleSizeChange(val) {
					this.goToPage(this.pageInfo.pageNum, val);
				},
				handleCurrentChange(val) {
					this.goToPage(val, this.pageInfo.pageSize);
				},

				handleSizeChange2(val) {
					wid = window.sessionStorage.getItem("wid");

					this.ff1(this.pageInfo2.pageNum, val, wid, this.zt);
				},
				handleCurrentChange2(val) {
					wid = window.sessionStorage.getItem("wid");
					this.ff1(val, this.pageInfo2.pageSize, wid, this.zt);
				},
				goToPage2(p, s, wid) {
					let _this = this;
					this.loading = true;
					//ajax
					$.getJSON(`http://localhost:8080/api/wxxm/er/${p}/${s}/${wid}`, function(pg) {
						_this.jiage = pg;
						_this.loading = false;

					});
				},
				goToPage(p, s) {
					let _this = this;
					this.loading = true;
					//ajax
					$.getJSON(`http://localhost:8080/api/wxb/${p}/${s}`, function(pg) {
						_this.pageInfo = pg;
						_this.loading = false;
					});
				}
			},
			mounted() {

				this.goToPage(1, 3);

			},
			filters: {
				filterSex(val) {
					return val == 0 ? '男' : '女';
				},
				filterVip(val) {
					return val == 1 ? '普通用户' : 'VIP会员';
				}
			}
		});
	</script>

</html>