<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="vmLevel">
			<el-row>
				<el-col :span="6" :offset="8">
					<el-input v-model="searchName" prefix-icon="el-icon-search" placeholder="按姓名模糊查询"></el-input>
				</el-col>
				<el-col :span="7" :offset="1">
					<el-button @click="queryLikeName">查询</el-button>
					<el-button @click="dialogVisible1 = true">添加星级</el-button>
				</el-col>
			</el-row>
			<el-row>
				<el-table :default-sort="{prop: 'pageInfo.list', order: 'descending'}" :data="this.pageInfo.list" border>
					<el-table-column label="序号">
						<template slot-scope="temp">
							{{temp.$index+1}}
						</template>
					</el-table-column>
					<el-table-column  prop="lid" label="等级编号">
					</el-table-column>
					<el-table-column  prop="lname" label="等级名称">
					</el-table-column>
					<el-table-column   prop="lprice" label="工时费">
					</el-table-column>
					<el-table-column width="300" label="操作">
						<template slot-scope="temp">
							<el-button icon="el-icon-edit" @click="showInfo(temp.row.lid)" type="primary" round>编辑</el-button>
							<el-button icon="el-icon-delete" @click="delInfo(temp.row.lid)" type="danger" round>移除</el-button>
						</template>
					</el-table-column>
				</el-table>
			</el-row>
			<el-row>
				<el-col :offset="8" :span="8">
					<el-pagination v-if="pageInfo.total!=0" :background="true" :pager-count="7" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.pageNum" :page-size="pageInfo.pageSize" :total="pageInfo.total" :page-sizes="[3,6]" layout="total, sizes, prev, pager, next, jumper">
					</el-pagination>
				</el-col>
			</el-row>
			
			<el-dialog title="添加信息" :visible.sync="dialogVisible" width="30%" :before-close="back" center>
				<el-form :inline="true" :model="level" ref="levelForm" label-width="120px">
					<el-form-item label="星级名称">
						<el-input v-model="level.lname"></el-input>
					</el-form-item>
					<el-form-item label="工时费">
						<el-input v-model="level.lprice"></el-input>
					</el-form-item>
					<el-form-item style="margin-left: 180px;">
						<el-button type="primary" @click="updateById">更新</el-button>
						<el-button @click="back">返回</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
			<el-dialog title="添加信息" :visible.sync="dialogVisible1" width="30%" :before-close="back" center>
				<el-form :inline="true" :model="level" ref="levelForm" label-width="120px">
					<el-form-item label="星级名称">
						<el-input v-model="level.lname"></el-input>
					</el-form-item>
					<el-form-item label="工时费">
						<el-input v-model="level.lprice"></el-input>
					</el-form-item>
					<el-form-item style="margin-left: 180px;">
						<el-button type="primary" @click="insert">添加</el-button>
						<el-button @click="back">返回</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
		</div>
	</body>
	
	<script type="text/javascript">
		var vmLevel = new Vue({
			data : {
				pageInfo : [],
				level : {},
				searchName : "",
				dialogVisible :false,
				dialogVisible1 : false
			},
			methods : {
				handleSizeChange(val) {
					this.goToPage(this.pageInfo.pageNum, val);
				},
				handleCurrentChange(val) {
					this.goToPage(val, this.pageInfo.pageSize);
				},
				goToPage(p, s, name) {
					let _this = this;
					if(name == null || name == "" || name.length == 0) {
						name = null;
					}
					$.getJSON(`http://localhost:8080/api/level/page/${p}/${s}/${name}`, function(data) {
						_this.pageInfo = data;
					})
				},
				queryLikeName() {
					this.goToPage(1, this.pageInfo.pageSize, this.searchName);
				},
				delInfo(id, pstatus) {
					let _this = this;
					
					
					this.$confirm('确定要移除吗?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning',
						center: true
					}).then(() => {
						$.ajax({
							url: `http://localhost:8080/api/level/delById/${id}`,
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
									_this.goToPage(1, _this.pageInfo.pageSize);
								}
							}
						});
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				insert() {
					let _this = this;
					$.ajax({
						url: "http://localhost:8080/api/level/insert",
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.level),
						dataType: "json",
						success(data) {
							if(data.code == "200") {
								_this.$message({
									type: 'success',
									message: '添加成功!'
								});
								_this.back();
								_this.goToPage(1, _this.pageInfo.pageSize);
							} else {
								_this.$message.error("添加失败！！");
							}
						}
					});
				},
				updateById(row) {
					let _this = this;
					$.ajax({
						url: "http://localhost:8080/api/level/updateById",
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.level),
						dataType: "json",
						success(data) {
							if(data.code == "200") {
								_this.$message({
									type: 'success',
									message: '更新成功!'
								});
								_this.back();
								_this.goToPage(1, _this.pageInfo.pageSize);
							}
						}
					})
				},
				back(){
					this.dialogVisible = false;
					this.dialogVisible1 = false;
					this.level = {};
				},
				showInfo(id){
					let _this = this;
					$.getJSON(`http://localhost:8080/api/level/queryById/${id}`,function(data){
						_this.level = data;
					})
					_this.dialogVisible = true;
				}
			},
			mounted(){
				this.goToPage(1,3,null);
			}
		}).$mount("#vmLevel");
		
	</script>
</html>
